.author {
    width: 448px;
}
.author__wrapper-name {
    margin-bottom:15px;
}

.author__wrapper-subtitle {
    margin-bottom:15px;
}

.author__discrption {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}