.about-me{
padding-top: 64px ;
padding-bottom: 64px ;
}

.about-me__content {
    display: flex;
    width: 1037px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.about-me__img {
width: 101px;
height: 101px;
}

.about-me__text {
width: 904px;
font-family: 'Inconsolata';
font-weight: 400;
font-size: 24px;
line-height: 1.04;
}